In [3]:
import pandas as pd
import numpy as np

In [7]:
df_Basket = pd.read_excel(io='../Data/regression.xlsx', index_col = 'Date',sheet_name ='Basket')
df_PXD = pd.read_excel(io='../Data/regression.xlsx', index_col = 'Date',sheet_name ='PXD')
df_Basket.head()
df_PXD.head()

                   PXD
Date
2017-01-03  185.759918
2017-01-04  183.340866
2017-01-05  184.863968
2017-01-06  184.236816
2017-01-09  181.777924

In [8]:
df_Basket = pd.read_excel(io='../Data/regression.xlsx', index_col = 'Date',sheet_name ='Basket').pct_change()
df_PXD = pd.read_excel(io='../Data/regression.xlsx', index_col = 'Date',sheet_name ='PXD').pct_change()

In [12]:
df_Returns = pd.concat(objs=[df_PXD,df_Basket],axis=1)
df_Returns.head()

                 PXD       SPY       Oil      Gold        NG
Date
2017-01-03       NaN       NaN       NaN       NaN       NaN
2017-01-04 -0.013022  0.005949  0.017189  0.015018  0.002933
2017-01-05  0.008307 -0.000794  0.009576  0.006133  0.000000
2017-01-06 -0.003393  0.003578  0.003906  0.004220 -0.011696
2017-01-09 -0.013346 -0.003301 -0.037607 -0.001613 -0.071006

In [16]:
import statsmodels.formula.api as sm
model = sm.ols(formula = 'PXD ~ SPY + Oil + Gold + NG',data = df_Returns)
results = model.fit()
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    PXD   R-squared:                       0.377
Model:                            OLS   Adj. R-squared:                  0.374
Method:                 Least Squares   F-statistic:                     96.72
Date:                Tue, 09 Aug 2022   Prob (F-statistic):           2.62e-64
Time:                        13:58:00   Log-Likelihood:                 1750.8
No. Observations:                 643   AIC:                            -3492.
Df Residuals:                     638   BIC:                            -3469.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -0.0010      0.001     -1.631      0.103      -0.002       0.000
SPY            0.9278      0.080     11.657      0.000       0.772       1.084
Oil            0.4450      0.035     12.891      0.000       0.377       0.513
Gold          -0.0063      0.092     -0.069      0.945      -0.186       0.174
NG             0.0021      0.012      0.174      0.862      -0.021       0.025
==============================================================================
Omnibus:                      109.108   Durbin-Watson:                   1.911
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1521.695
Skew:                           0.203   Prob(JB):                         0.00
Kurtosis:                      10.525   Cond. No.                         146.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [18]:
def regress(symbol,df):
    formula = symbol + '~ SPY + Oil + Gold + NG'
    model = sm.ols(formula = formula ,data = df)
    return  model.fit()

In [24]:
report = regress('PXD',df_Returns)
report.summary()
fltr = report.pvalues < 0.05
report.params[fltr]

SPY    0.927809
Oil    0.445035
dtype: float64

In [31]:
def regress(symbol,df):
    formula = symbol + '~ SPY + Oil + Gold + NG'
    result = sm.ols(formula = formula ,data = df).fit()
    fltr = result.pvalues < 0.05
    df = pd.DataFrame(data=result.params[fltr],columns=[symbol])
    return df
regress('PXD',df_Returns)

          PXD
SPY  0.927809
Oil  0.445035

In [33]:
df_Stocks = pd.read_excel(io='../Data/regression.xlsx', index_col = 'Date',sheet_name ='StockPrices').pct_change()
df_Stocks.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-01-04,0.013121,0.008639,0.008206,-0.001119,0.014100,0.024815,0.030082,0.007939,0.002404,0.006378,...,0.004431,-0.007279,-0.011002,0.008188,0.037736,0.014904,0.003639,NaN,0.014358,0.009703
2017-01-05,-0.011889,-0.017345,-0.000698,0.005085,0.007584,-0.011576,-0.008035,0.008638,-0.014991,0.016996,...,0.000000,-0.012108,-0.014907,-0.013029,-0.004196,-0.009129,0.003310,NaN,-0.016210,-0.003326
2017-01-06,0.031156,0.006973,-0.013090,0.011148,0.000314,0.013384,0.005313,0.027204,0.011392,0.022566,...,0.002941,0.019334,-0.000565,-0.000686,-0.015449,-0.007010,0.012097,NaN,0.006498,0.003152
2017-01-09,0.003126,0.018827,-0.000589,0.009159,0.006584,0.008019,0.014642,-0.000981,-0.011178,0.002493,...,-0.015152,0.000169,-0.016497,0.003088,-0.005706,-0.004236,0.002794,NaN,-0.010837,-0.002772

In [44]:
df_Returns = pd.concat(objs=[df_Stocks,df_Basket], axis=1)

In [45]:
df_Returns.describe()

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XRX,XYL,YUM,ZBH,ZION,ZTS,SPY,Oil,Gold,NG
count,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,664.000000,...,664.000000,664.000000,664.000000,454.000000,664.000000,664.000000,643.000000,643.000000,643.000000,643.000000
mean,0.000753,-0.000612,-0.000114,0.001030,0.000420,0.000246,0.001131,0.001272,0.000897,0.001673,...,0.000302,0.000737,0.001028,0.000474,0.000081,0.001360,0.000512,0.000288,0.000438,0.000695
std,0.014951,0.022288,0.021387,0.015951,0.017978,0.017562,0.025661,0.012210,0.011660,0.017914,...,0.017616,0.013716,0.010193,0.015468,0.015410,0.012689,0.008107,0.018739,0.006887,0.053215
min,-0.110117,-0.091229,-0.203439,-0.099607,-0.162524,-0.104744,-0.264539,-0.047982,-0.072826,-0.080372,...,-0.129243,-0.058921,-0.074331,-0.057470,-0.061274,-0.042974,-0.041823,-0.083547,-0.017581,-0.378495
25%,-0.005981,-0.012446,-0.009569,-0.005583,-0.006789,-0.008126,-0.008437,-0.004793,-0.004379,-0.005165,...,-0.007375,-0.005992,-0.003371,-0.005498,-0.009107,-0.004601,-0.002211,-0.009456,-0.003872,-0.013699
50%,0.001156,-0.000430,0.000325,0.000827,0.001232,0.001285,0.001694,0.001297,0.001570,0.002080,...,0.000377,0.000988,0.001061,0.000000,0.000819,0.001477,0.000603,0.002033,0.000310,0.000000
75%,0.008822,0.012222,0.009589,0.008879,0.008267,0.010630,0.013821,0.008816,0.007286,0.009936,...,0.009291,0.008635,0.006293,0.008131,0.010198,0.007834,0.004669,0.011019,0.004402,0.013769
max,0.078422,0.086474,0.163345,0.070421,0.137673,0.093013,0.110644,0.061928,0.058968,0.122418,...,0.113992,0.093246,0.065133,0.134626,0.053130,0.076397,0.033496,0.076098,0.029239,0.691057

In [47]:
df_Beta = pd.DataFrame()

for col in df_Returns.columns[:-4]:
    df = regress(col,df_Returns)
    df_Beta = pd.concat([df_Beta,df],axis=1,sort=False)
print('Done')

Done

In [49]:
df_Beta

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,XEL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
SPY,1.169614,1.434053,0.723707,1.305716,1.047637,0.889823,1.362834,0.999829,1.067843,1.517271,...,0.146209,1.430029,0.691043,0.699682,1.099923,1.007285,0.679693,0.899308,1.021857,0.991054
Oil,-0.049552,-0.150485,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.068264,...,-0.052117,NaN,0.200444,NaN,NaN,NaN,-0.043976,NaN,NaN,-0.048701
Intercept,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000720,NaN,NaN,...,0.000847,NaN,-0.000627,NaN,NaN,NaN,0.000712,NaN,NaN,0.000885
NG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.016123,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.054157,NaN,NaN
Gold,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.147379,NaN

In [54]:
writer = pd.ExcelWriter(path='./Betas.xlsx')
df_Beta.to_excel(excel_writer=writer,sheet_name='Betas')
df_Beta.transpose().to_excel(excel_writer=writer,sheet_name='Tposed')
writer.save()